@page "/sales-stats"
@inject SaleService _salesService

<PageTitle>Sale Data</PageTitle>

<h3>Sale Data</h3>

@if (stats == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="@stats.AsQueryable()" Class="table table-striped">
        <TemplateColumn>
            
        </TemplateColumn>
        <PropertyColumn Property="@(s => s.Date)" Title="Date" Format="yyyy-MM-dd"/>
        <PropertyColumn Property="@(s => s.Amount)" Title="Amount" Format="C2"/>
    </QuickGrid>
}

@code {
    private IEnumerable<SaleDto>? stats;

    protected override async Task OnInitializedAsync()
    {
        stats = await _salesService.GetSalesStatsAsync();
    }
}
